extends layout

block content
  #posts-div.container.mt-5
      
    .mt-5.bg-light.text-white.rounded
                    .d-flex.justify-content-between.mb-3
                      .p-2
                        .text-dark
                          a.navbar-brand(href='#')
                            | 
                            img.rounded-pill(src='images/user.png', alt='Logo', style='width:30px;')
                            |  Tuha Ahmed
                      .p-2
                        .text-dark.text-right 
                    h4.post-text= issue.title
                    .form-floating.mt-3.mb-3
                      textarea#answer.form-control.answer(name='answer', placeholder='')= issue.description
                    .post-row
                      .activity-icons.text-dark
                        div
                          a(href='')
                            img(src='https://i.postimg.cc/pLKNXrMq/like-blue.png')
                          | 56
                        div
                          a#reply1x
                            img(src='https://i.postimg.cc/rmjMymWv/comments.png')
                          a#answers1x 5
                      
      table#dt1.table.dt(style='width:100%')
        thead
          tr
            th(width='100%')
        tbody
          each c in comments
            tr
              td
                .mt-4.bg-light.text-white.rounded
                      .d-flex.justify-content-between.mb-3
                        .p-2
                          .text-dark
                            a.navbar-brand(href='#')
                              img.rounded-pill(src='images/user.png', alt='Logo', style='width:30px;')
                              |  Jamil Rahim
                        .p-2
                          .text-dark.text-right
                            | 01-25-2023 10:02 PM
                      h4.post-text= c.repliedBy
                      .form-floating.mt-3.mb-3
                        p.text-dark= c.comment
                      .post-row
                        .activity-icons.text-dark
                          div
                            a(href='')
                              img(src='https://i.postimg.cc/pLKNXrMq/like-blue.png')
                            | 3
                          div
                            a#reply1
                              img(src='https://i.postimg.cc/rmjMymWv/comments.png')
                            | 1
      .card.mt-4.bg-light.text-dark.rounded   
        .card-body 
          form(action='/discussion', method='post')
            input#issueID(type='hidden', name='issueid', value=issue.title)
            .form-floating.mt-3.mb-3
              textarea#answer.form-control.answer(name='answer', placeholder='')
            .form-floating.mb-3.mt-3
              input(type='submit',value='Comment',data-transition='fade', data-theme='c' , class='btn btn-success')
    
  

  
                       
