extends layout

block content 
  .row 
    .col-md-4
      .card
        .card-body
          div#chart_div(style='width:400; height:300')  
    .col-md-7
      .card
        .card-body.row.text-center
          div#chart2_div(style='width:400; height:300')    
  .container    
    table#dt1.table.dt(style='width:100%')
      thead
        tr
          th Province 
          th Confirmed 
          th Deaths
      tbody
        each i in stat.data.covid19Stats
          tr
            td= i.province
            td= i.confirmed
            td= i.deaths      
    script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript').  
      var de= #{covid.data.deaths};
      var co= #{covid.data.confirmed}  ;
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);    
      google.charts.setOnLoadCallback(drawChart2);  
      function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'x');
      data.addColumn('number', 'y');
      data.addRows([
        ['Confirmed', co],
        ['Death', de]      
      ]);
      // Set chart options
      var options = {
      'width':400,
      'height':400};
      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      }
      function drawChart2() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Province');
      data.addColumn('number', 'Confirmed');
      data.addColumn('number', 'Deaths'); 
      data.addRows([['#{stat.data.covid19Stats[1].province}',#{stat.data.covid19Stats[0].confirmed},#{stat.data.covid19Stats[1].deaths}],
                    ['#{stat.data.covid19Stats[1].province}',#{stat.data.covid19Stats[1].confirmed},#{stat.data.covid19Stats[1].deaths}],
                    ['#{stat.data.covid19Stats[2].province}',#{stat.data.covid19Stats[2].confirmed},#{stat.data.covid19Stats[2].deaths}],
                    ['#{stat.data.covid19Stats[3].province}',#{stat.data.covid19Stats[3].confirmed},#{stat.data.covid19Stats[3].deaths}],
                    ['#{stat.data.covid19Stats[4].province}',#{stat.data.covid19Stats[4].confirmed},#{stat.data.covid19Stats[4].deaths}],
                    ['#{stat.data.covid19Stats[5].province}',#{stat.data.covid19Stats[5].confirmed},#{stat.data.covid19Stats[5].deaths}],
                    ['#{stat.data.covid19Stats[6].province}',#{stat.data.covid19Stats[6].confirmed},#{stat.data.covid19Stats[6].deaths}],
                    ['#{stat.data.covid19Stats[7].province}',#{stat.data.covid19Stats[7].confirmed},#{stat.data.covid19Stats[7].deaths}],
                    ['#{stat.data.covid19Stats[8].province}',#{stat.data.covid19Stats[8].confirmed},#{stat.data.covid19Stats[8].deaths}],
                    ['#{stat.data.covid19Stats[9].province}',#{stat.data.covid19Stats[9].confirmed},#{stat.data.covid19Stats[9].deaths}],
                    ['#{stat.data.covid19Stats[10].province}',#{stat.data.covid19Stats[10].confirmed},#{stat.data.covid19Stats[10].deaths}],
                    ['#{stat.data.covid19Stats[11].province}',#{stat.data.covid19Stats[11].confirmed},#{stat.data.covid19Stats[11].deaths}],
                    ['#{stat.data.covid19Stats[12].province}',#{stat.data.covid19Stats[12].confirmed},#{stat.data.covid19Stats[12].deaths}],
                    ['#{stat.data.covid19Stats[13].province}',#{stat.data.covid19Stats[13].confirmed},#{stat.data.covid19Stats[13].deaths}],
                    ['#{stat.data.covid19Stats[14].province}',#{stat.data.covid19Stats[14].confirmed},#{stat.data.covid19Stats[14].deaths}],
                    ['#{stat.data.covid19Stats[15].province}',#{stat.data.covid19Stats[15].confirmed},#{stat.data.covid19Stats[15].deaths}],


                    ]);  
      // Set chart options
      var options = {
      'width':800,
      'height':400};
      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById('chart2_div'));
      chart.draw(data, options);
      }